@charset "utf-8";

/* 원래 사이즈 1920 */

body{
    width: 100%;
    overflow-x: hidden;
}

.inner{
    width: 1180px;
    margin: 0 auto;
    
}


/* 헤더 */

header{
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  /* border: 1px solid #f00; */
}
.nav_inner{
  width: 1280px;
  margin: 0 auto;
  height: 100%;
  /* border: 1px solid #f00; */
  /* border: 1px solid #f00; */
}
nav{
 display: flex;
 justify-content: space-between;
 margin-top: 25px;
 
 /* border: 1px solid #f00; */
}

nav .logo{
  display: flex;
  width: 77px;
   height: 40px;
   flex-grow: 0;
   cursor: pointer;
   margin-top: 2px;
}

nav .main_nav{
  width: 730px;
  /* margin-left: 60px; */
  
 
}

nav .main_nav ul{
  display: flex;
  
}

nav .main_nav ul li{
  width: 20%;
  text-align: center;
   margin-top: 3px;
  
}
nav .main_nav ul li:hover strong a,
nav .main_nav ul li > ul li:hover a{

 color: #ff8484;
}



nav .main_nav ul li strong{
  font-size: 20px;
font-weight: 500;
text-transform: uppercase;
line-height: 40px;

}
nav .main_nav >ul >li:nth-of-type(2) strong a,
nav .main_nav >ul >li:nth-of-type(3) strong a{
  color:#ff8484;
}

nav .main_nav > ul> li> ul{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  /* border: 1px solid #f00; */

}
nav .main_nav > ul> li> .sub{
margin-top: 35px;
}
nav .main_nav span{
 background: #fff;
 content: "";
 display: block;
 position: absolute;
 width: 100%;
 height: 230px;
 z-index: 1;
 top: 85px;
 left: 0;
 box-shadow: 0 2px 15px rgba(0, 0, 0, .1);

}

nav .main_nav > ul > li> ul > li {
  width: 100%;
 
}
nav .main_nav ul li> ul > li > a{
  text-align: center;
  display: block;
  padding-bottom: 24px;
 
}
nav .main_nav ul li> ul> li:first > a{
 padding-top: 24px;
}
nav .main_nav2{
  margin-left: 236px;
  
}
nav .main_nav2 ul{
  display: flex;


}
nav .main_nav2 ul li{
margin-top: 3px;
}
nav .main_nav2 ul li~li{
 margin-left: 24px;
 
}

nav .main_nav2 ul li a{
  text-transform: uppercase;
  font-size: 16px;
   font-weight: 500;
   line-height: 40px;
  color: #2d2d2d;
}

nav .main_nav2 ul li:hover a{
 color: #ff8484;
}
 /* 메인 */
/* title nav */
.cate{
  height: 435px;
  width: 100%;
  /* border: 1px solid #f00; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.bg{
  height: 435px;
  width: 100%;
  position: absolute;
  background: url(../images/sub/cate.png) no-repeat center /cover;
  z-index: -10;
  top: 0;left: 50%;
  transform: translateX(-50%);
  
}
section:nth-of-type(1) .title{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

section:nth-of-type(1)  .title h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
}

section:nth-of-type(1)  .title p{
  font-size: 16px;
  margin-bottom: 40px;
}

section:nth-of-type(1)  .title ul{
  display: flex;
  justify-content: space-between;
  width: 730px;
}
section:nth-of-type(1)  .title ul li{
  cursor: pointer;
  position: relative;
 
}
section:nth-of-type(1)  .title ul li a{
  font-size: 25px;
  color: #888888;
  
}
section:nth-of-type(1)  .title ul li.on{
  font-weight: bold;
  color: #000;
 
}
section:nth-of-type(1)  .title ul li.on a{
 
  color: #000;

}
section:nth-of-type(1)  .title ul li.on::after{
  content: '';
  display: block;
  width: 110%;
  height: 10px;
  background: #FF8484;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
/* cotainer 1  오아업데이트*/

.more{
  cursor: pointer;
}
.more span{
  font-size: 14px;
  color: #373737;
  position: relative;
  cursor: pointer;
}

.more span::before{
  display: block;
  content: "";
  width: 31px;
  height: 11px;
  background: url(../images/common/arrow_change.svg) no-repeat right;
  bottom: 4px;
  right: -40px;
  position: absolute;
  
  transition: .2s;
  
}

.more:hover span::before{
  background: url(../images/common/arrow_change.svg) no-repeat left;
}
.more:hover span{
  color: #ff8484;
}


section:nth-of-type(2){
  height: 476px;
  width: 100%;
  position: relative;
  
}

.container1{
  margin-top: 180px;
  display: flex;
  flex-direction: column;

}

.container1 .con_title{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.container1 .con_title .more{
  margin-right: 40px;
}
.container1 .con_title h2{
  font-size: 25px;
  font-weight: 700;
  color: #000;
  
  
}

.container1 .text_list ul{
  display: flex;
  justify-content: space-between;
}
.container1 .text_list ul li{
  width: 380px;
  height: 380px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: .3s;
  cursor: pointer;
}
.container1 .text_list ul li:hover img{
transform: scale(110%);
}
.container1 .text_list ul li::after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background:linear-gradient(to top, #F0F0F0,rgba(255,255,255,0) );
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.container1 .text_list ul li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: .3s;
}

.container1 .text_list ul li span{
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  z-index: 10;
  font-size: 20px;
  font-weight: bold;
}

/* cotainer 2 오아 매거진*/
section:nth-of-type(3){
    
    width: 100%;
    position: relative;
    
  }
  
  
  .container2{
       display: flex;
       width: 100%;
      height: 500px;
       margin-top: 180px;
       /* border: 1px solid #f00; */
       flex-direction: column;
       position: relative;
  }
  .container2 .text_list{
    width: 327px;
    height: 315px;
    /* border: 1px solid #f00; */
    margin-right: 111px;
    overflow: hidden;
    margin-top: 160px;
  }
  .container2 .title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }
  .container2 .title .more{
    margin-right: 40px;
  }
  .container2 .title h2{
    font-size: 25px;
    font-weight: 700;
    color: #000;
    
    
  }

  .container2 .text_list ul{
    display: flex;
    width: 500%;
    /* border: 1px solid #f00; */
  }
  .container2 .text_list ul li{
    width: 327px;
  
   
  }
  .container2 .text_list ul li a{
    display: flex;
    flex-direction: column;
  }
  .container2 .text_list ul li a strong{
    font-size: 20px;
    font-weight: 600;
    width: 190px;
    margin-bottom: 24px;
    /* border: 1px solid #f00; */
    line-height: 1.5;
    color: #000;
  }
  
  .container2 .text_list ul li a span{
    font-size: 16px;
    font-weight: normal;
    
  }
  .container2 .best_list{
    display: flex;
   
  }
  .container2 .img_mag{
    display: flex;
    /* border: 1px solid #f00; */
    width: 1151px;
    height: 435px;
    overflow: hidden;
    margin-top: 40px;
  }
  .container2 .img_mag .best_img{
    display: flex;
    width: 500%;
    
  }
  .container2 .img_mag > ul > li{
    width: 580px;
    height: 434px;
    border-radius: 10px;
    /* overflow: hidden; */
    
  }
  .container2 .img_mag > ul > li~li{
    margin-left: 20px;
  }
  .container2 .img_mag > ul li img{
    width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: top;
   border-radius: 10px;
  
  }
  .container2 .img_mag ul .bottom img{
    object-position: bottom;
  }
  .container2 .icon{
    width: 304px;
    height: auto;
    /* border: 1px solid #f00; */
    position: absolute;
    bottom: 0;
    left: 0px;
    display: flex;
    
   
  }
  .container2 .icon .arrows{
    display: flex;
    cursor: pointer;
  }
  .container2 .icon .arrow_left,
  .container2 .icon .arrow_right{
  
    width: 44px;
    height: 44px;
    flex-grow: 0;
    display: block;
    object-fit: contain;
   
  }
  .container2 .icon .arrow_left{
    background: url(../images/common/arrow_button_left.svg);
    
    
  }
  .container2 .icon .arrow_right{
    background: url(../images/common/arrow_button_right.svg);
    margin-left: 16px;
  }


  .container2 .icon .arrow_left:hover{
    background: url(../images/common/arrow_pink_left.svg);
    
    
  }
  .container2 .icon .arrow_right:hover{
    background: url(../images/common/arrow_pink_right.svg);
  }




  .container2 .icon .bar{
    width: 188px;
    height: 4px;
    background-color: #c4c4c4;
   margin-top: 20px;
   margin-left: 16px;
  }
  

/* cotainer 3 오아 스토리*/
section:nth-of-type(4){
  width: 100%;
  position: relative;
  
}


.container3{
     display: flex;
     width: 100%;
     height: 500px;
     margin-top: 180px;
     /* border: 1px solid #f00; */
     flex-direction: column;
     position: relative;
}
.container3 .text_list{
  width: 327px;
  height: 315px;
  /* border: 1px solid #f00; */
  margin-right: 111px;
  overflow: hidden;
}
.container3 .title{
  display: flex;
  justify-content: space-between;
 text-transform: uppercase;
}
.container3 .title .more{
  margin-right: 40px;
}
.container3 .title h2{
  font-size: 25px;
  font-weight: 700;
  color: #000;
  
  
}
.container3 .text_list{
  margin-top: 160px;
  width: 327px;
  
}
.container3 .text_list ul{
  display: flex;
  width: 500%;
  
}
.container3 .text_list ul li{
  width: 327px;

 
}
.container3 .text_list ul li a{
  display: flex;
  flex-direction: column;
}
.container3 .text_list ul li a strong{
  font-size: 20px;
  font-weight: 600;
  width: 190px;
  margin-bottom: 24px;
  /* border: 1px solid #f00; */
  line-height: 1.5;
  color: #000;
}

.container3 .text_list ul li a span{
  font-size: 16px;
  font-weight: normal;
}
.container3 .best_list{
  display: flex;
 
}
.container3 .img_mag{
  display: flex;
  /* border: 1px solid #f00; */
  width: 1151px;
  height: 435px;
  overflow: hidden;
  margin-top: 40px;
}
.container3 .img_mag .best_img{
  display: flex;
  width: 500%;
  
}
.container3 .img_mag > ul > li{
  width: 580px;
  height: 434px;
  border-radius: 10px;
  /* overflow: hidden; */
  
}
.container3 .img_mag > ul > li~li{
  margin-left: 20px;
}
.container3 .img_mag > ul li img{
  width: 100%;
 height: 100%;
 object-fit: cover;
 object-position: top;
 border-radius: 10px;

}
.container3 .img_mag > ul .bottom img{
  object-position: center;
}
.container3 .icon{
  width: 304px;
  height: auto;
  /* border: 1px solid #f00; */
  position: absolute;
  bottom: 0;
  left: 0px;
  display: flex;
  
 
}
.container3 .icon .arrows{
  display: flex;
  cursor: pointer;
}
.container3 .icon .arrow_left,
.container3 .icon .arrow_right{

  width: 44px;
  height: 44px;
  flex-grow: 0;
  display: block;
  object-fit: contain;
 
}
.container3 .icon .arrow_left{
  background: url(../images/common/arrow_button_left.svg);
  
  
}
.container3 .icon .arrow_right{
  background: url(../images/common/arrow_button_right.svg);
  margin-left: 16px;
}

.container3 .icon .arrow_left:hover{
  background: url(../images/common/arrow_pink_left.svg);
  
  
}
.container3 .icon .arrow_right:hover{
  background: url(../images/common/arrow_pink_right.svg);
}



.container3 .icon .bar{
  width: 188px;
  height: 4px;
  background-color: #c4c4c4;
 margin-top: 20px;
 margin-left: 16px;
}


/* cotainer 4 라이프스타일*/
section:nth-of-type(4){
    
  width: 100%;
  position: relative;
  
}


.container4{
     display: flex;
     width: 100%;
    height: 500px;
     margin-top: 180px;
     /* border: 1px solid #f00; */
     flex-direction: column;
     position: relative;
}

.container4 .title{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.container4 .title .more{
  margin-right: 40px;
}
.container4 .title h2{
  font-size: 25px;
  font-weight: 700;
  color: #000;
  margin-bottom: 40px;
  
}

.container4 > ul{
  width: 100%;
}
.container4 > ul li{
  width: 578px;
  height: 300px;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.container4 > ul li::after{
  background-image: linear-gradient(to top, #f0f0f0, rgba(255, 255, 255, 0));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  border-radius: 15px;
}

.container4 > ul li:first-of-type,
.container4 > ul li:nth-of-type(3){
  margin-right: 20px;
}

.container4 > ul li:first-of-type,
.container4 > ul li:nth-of-type(2){
  margin-bottom: 20px;
}



.container4 > ul li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: .3s;
}
.container4 > ul li:hover img{
  transform: scale(110%);
}
.container4 > ul li p{
  position: absolute;
  bottom: 24px;
  left: 24px;
  color: #242424;
  font-size: 20px;
  font-weight: 600;
  z-index: 10;
}


/* cotainer5 스폰서*/
section:nth-of-type(5){
    
  width: 100%;
  position: relative;
  
}


.container5{
     display: flex;
     width: 100%;
    height: 620px;
    margin-top: 370px;
     /* border: 1px solid #f00; */
     flex-direction: column;
     position: relative;
}
.over{
  width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}
.container5 .title{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.container5 .title h2{
  font-size: 25px;
  font-weight: 700;
  color: #000;
  margin-bottom: 40px;
  
}

.container5 ul{
  display: flex;
  justify-content: center;
}
.container5 ul li{
  width: 378px;
  height: 555px;
}
.container5 ul li~li{
  margin-left: 20px;
}

.container5 ul li img{
  width: 378px;
  height: 555px;
  
}
/* 매가진 */

.magazine{
  width: 100%;
  height: 100%;

}
.magazine img{
 width: 100%;
  height: 100%;
  
}


/* 스토리 파트 */

.container_story{
  margin-top: 180px;
  
  margin-bottom: 180px;
}


.container_story .title{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.container_story .title h2{
  font-size: 25px;
  font-weight: 700;
  color: #000;
  margin-bottom: 40px;
  
}

.container_story .img ul{
  width: 100%;
}

.container_story .img ul li{
  width: 377px;
  height: 377px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.container_story .img ul li::after{
  background-image: linear-gradient(to top, #f0f0f0, rgba(255, 255, 255, 0));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  border-radius: 15px;

}


.container_story .img ul li:nth-of-type(1),
.container_story .img ul li:nth-of-type(4){
  margin-left: 0;
}

.container_story .img ul li:nth-of-type(4),
.container_story .img ul li:nth-of-type(5),
.container_story .img ul li:nth-of-type(6){
  margin-bottom: 0;
}



.container_story .img ul li img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: .3s;
}
.container_story .img ul li:hover img{
  transform: scale(110%);
}
.container_story .img ul li p{
  font-size: 25px;
  font-weight: 600;
  line-height: 1.61;
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  z-index: 10;
}
.container_story button{
  width: 100%;
  margin-top: 40px;
  padding: 32px;
  margin: 40px auto 0;
  border: none;
  display: block;
  border-radius: 15px;
}

.container_story button:hover{
  border: 1px solid #ff8484;
}

.container_story button span{
  position: relative;
  display: inline-block;
  
}
.container_story button:hover span{
  color: #ff8484;
}
.container_story button span::after{
  content: '';
  display: block;
  top: 55%;
  transform: translateY(-50%);
  right: -22px;
  background: url(../images/common/arrow_slide_right.svg) no-repeat center center/cover;
  width: 24px;
  height: 24px;
  position: absolute;
}
.container_story button:hover span::after{
  background: url(../images//sub/pink_rignt.svg) no-repeat center center/cover;
}
/* footer */
footer{
    width: 100%;
    height: 528px;
    background-color: #f4f4f4;
    border-top: 1px solid #e1e1e1;
    position: relative;
  }
  
  footer .top{
    /* border: 1px solid #f00; */
    height: 145px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  footer .top > ul{
    display: flex;
    font-size: 16px;
    font-weight: bold;
    color: #505050;
    width: 55%;
    justify-content: space-between;
    
  }
  footer .top ul li > ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  footer .top >ul >li strong{
    text-align: center;
    display: block;
  }
  footer .top ul li > ul li~li{
  
    margin-top: 15px;
  }
  footer .top ul li >ul li{
    white-space: nowrap;
  
  
  }
  footer .top ul li >ul li a{
    font-size: 14px;
    color: #505050;
    font-weight: normal;
    text-align: center;
   display: block;
  
  }
  footer .top div{
    display: flex;
    flex-direction: column;
  }
  footer .top div strong{
    font-size: 16px;
    font-weight: bold;
    color: #505050;
    margin-bottom: 20px;
    
  }
  
  footer .top div a{
    font-size: 40px;
    font-weight: bold;
    color: #505050;
    margin-bottom: 20px;
  }
  footer .top div a:hover{
    color:  #ff8484;
  }
  footer .top div p{
    font-size: 14px;
    color: #505050;
    line-height: 1.95;
  }
  footer .bottom{
    height: 210px;
    padding-top: 50px;
    /* border: 1px solid #f00; */
    display: flex;
    justify-content:space-between;
  }
  footer::before{
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #e1e1e1;
    position: absolute;
    bottom: 285px;
    left: 0;
    
  }
  
  footer .bottom .left{
   width: 49%
  }
  footer .bottom .left> ul{
    display: flex;
    
  }
  
  footer .bottom .left> ul >li{
    font-size: 16px;
    font-weight: 500;
    color: #505050;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  footer .bottom .left> ul >li~li{
    margin-left: 25px;
  }
  
  footer .bottom .desc{
   margin-bottom: 20px;
  }
  footer .bottom .desc p{
    line-height: 1.7;
    font-size: 14px;
    color: #505050;
    display: inline;
  
  }
  
  footer .bottom .desc p~p{
   margin-left: 10px;
  }
  footer .bottom .desc p:nth-of-type(4){
    margin-left: 0;
  }
  footer .bottom .desc a{
    width: 98px;
    height: 21px;
    border-radius: 20px;
    background-color: #c4c4c4;
    font-size: 14px;
    padding: 4px;
    margin-left: 10px;
    
  }
  footer .bottom .desc a:hover{
    width: 98px;
    height: 21px;
    border-radius: 20px;
    background-color: #757575;
    font-size: 14px;
    padding: 4px;
    margin-left: 10px;
    color: #fff;
    
  }
  footer .bottom .left .copy{
    font-size: 14px;
    color: #505050;
  }
  
  footer .bottom .right ul{
    display: flex;
  }
  
  footer .bottom .right ul li{
    width: 44px;
    height: 25px;
    overflow: hidden;
    cursor: pointer;
  }
  footer .bottom .right ul li img{
    object-position: center -10px;
    transition: .3s;
  }
  footer .bottom .right ul li:hover img{
   transform: translateY(-25px) scale(110%);
  }


  /* 낮은 해상도의 PC, 태블릿 가로 */
@media screen and (max-width:1280px){

  .inner{
    width: 100%;
    margin: 0 auto;
    padding:  0 4rem;
     /* border: 1px solid #f00; */
}


/* 헤더 */


.nav_inner{
  width: 100%;
  margin: 0 auto;
  height: 100%;
  /* border: 1px solid #f00; */
  /* border: 1px solid #f00; */
  padding: 0 2rem;
}
nav{
 display: flex;
 justify-content: space-between;
 margin-top: 25px;
 
 /* border: 1px solid #f00; */
}

nav .logo{
  display: flex;
  width: 67px;
   height: 35px;
   flex-grow: 0;
   cursor: pointer;
   margin-top: 2px;
}

nav .main_nav{
  width: 100%;
  /* margin-left: 60px; */
   /* border: 1px solid #f00; */
}

nav .main_nav ul{
  display: flex;
  justify-content: space-between;
}

nav .main_nav ul li{
  width: 20%;
  text-align: center;
   margin-top: 3px;
  
}
nav .main_nav ul li:hover strong a,
nav .main_nav ul li > ul li:hover a{

 color: #ff8484;
}



nav .main_nav ul li strong{
  font-size: 18px;
font-weight: 500;
text-transform: uppercase;
line-height: 40px;
text-align: center;
/* border: 1px solid #f00; */
/* 수정// */
}

nav .main_nav2{
  margin-left: 0px;
  /* border: 1px solid #f00; */
  /* width: 100%; */
  width: 20%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

 /* 메인 */
/* title nav */

section:nth-of-type(1)  .title ul{
  display: flex;
  justify-content: space-between;
  width: 160%;
}

/* cotainer 1  오아업데이트*/


.container1 .text_list ul li{
  width: 32%;
}


/* cotainer 2 오아 매거진*/


  .container2 .text_list{
    width: 327px;
    height: 315px;
    /* border: 1px solid #f00; */
    margin-right:10rem;
    overflow: hidden;
    margin-top: 160px;
  }
  .container2 .title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }
  .container2 .title .more{
    margin-right: 40px;
  }
  .container2 .title h2{
    font-size: 25px;
    font-weight: 700;
    color: #000;
    
    
  }

  .container2 .text_list ul{
    display: flex;
    width: 500%;
    /* border: 1px solid #f00; */
  }
  .container2 .text_list ul li{
    width: 40%;
  
    /* border: 1px solid #f00; */
  }
  .container2 .text_list ul li a{
    display: flex;
    flex-direction: column;
  }
  .container2 .text_list ul li a strong{
    font-size: 20px;
    font-weight: 600;
    /* width: 327px; */
    margin-bottom: 24px;
    /* border: 1px solid #f00; */
    line-height: 1.5;
    color: #000;
    width: 100%;
  }
  
  .container2 .text_list ul li a span{
    font-size: 16px;
    font-weight: normal;
    display: block;
    width: 100%;
  }
  .container2 .best_list{
    display: flex;
   
  }
  .container2 .img_mag{
    display: flex;
    /* border: 1px solid #f00; */
    width: 1151px;
    height: 435px;
    overflow: hidden;
    margin-top: 40px;
  }
 
  .container2 .img_mag > ul > li{
    width: 580px;
    height: 434px;
    border-radius: 10px;
    /* overflow: hidden; */
    
  }


  .container2 .icon .bar{
    width: 40%;
    height: 4px;
    background-color: #c4c4c4;
   margin-top: 20px;
   margin-left: 16px;
  }
  


  .container2 .text_list{
    width: 327px;
    height: 315px;
    /* border: 1px solid #f00; */
    margin-right:10rem;
    overflow: hidden;
    margin-top: 160px;
  }
  .container2 .title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }
  .container2 .title .more{
    margin-right: 40px;
  }
  .container2 .title h2{
    font-size: 25px;
    font-weight: 700;
    color: #000;
    
    
  }

  .container3 .text_list ul{
    display: flex;
    width: 500%;
    /* border: 1px solid #f00; */
  }
  .container3 .text_list ul li{
    width: 40%;
  
    /* border: 1px solid #f00; */
  }
  .container3 .text_list ul li a{
    display: flex;
    flex-direction: column;
  }
  .container3 .text_list ul li a strong{
    font-size: 20px;
    font-weight: 600;
    /* width: 327px; */
    margin-bottom: 24px;
    /* border: 1px solid #f00; */
    line-height: 1.5;
    color: #000;
    width: 100%;
  }
  
  .container3 .text_list ul li a span{
    font-size: 16px;
    font-weight: normal;
    display: block;
    width: 100%;
  }
  .container3 .best_list{
    display: flex;
   
  }
  .container3 .img_mag{
    display: flex;
    /* border: 1px solid #f00; */
    width: 1151px;
    height: 435px;
    overflow: hidden;
    margin-top: 40px;
  }
 
  .container3 .img_mag > ul > li{
    width: 580px;
    height: 434px;
    border-radius: 10px;
    /* overflow: hidden; */
    
  }


  .container3 .icon .bar{
    width: 40%;
    height: 4px;
    background-color: #c4c4c4;
   margin-top: 20px;
   margin-left: 16px;
  }
  
  
/* cotainer 4 라이프스타일*/

.container4 > ul li{
  width: 48%;
  height: 300px;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

/* cotainer5 스폰서*/

.container5{
     display: flex;
     width: 100%;
    height: 400px;
    margin-top: 370px;
     /* border: 1px solid #f00; */
     flex-direction: column;
     position: relative;
}
.over{
  width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}
.container5 .title{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.container5 .title h2{
  font-size: 25px;
  font-weight: 700;
  color: #000;
  margin-bottom: 40px;
  
}

.container5 ul{
  display: flex;
  justify-content: center;
}
.container5 ul li{
  width: 220px;
  height: 400px;
}
.container5 ul li~li{
  margin-left: 20px;
}

.container5 ul li img{
  width: 220px;
 height: 100%;
  
}
/* 매가진 */
.inner.on{
  padding: 0;
  width: 100%;
}


/* 스토리 파트 */

.container_story{
  margin-top: 180px;
  
  margin-bottom: 180px;
}


.container_story .title{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.container_story .title h2{
  font-size: 25px;
  font-weight: 700;
  color: #000;
  margin-bottom: 40px;
  
}

.container_story .img ul{
  width: 100%;
}

.container_story .img ul li{
  width: 48%;
  height: 377px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}


.container_story .img ul li:nth-of-type(1),
.container_story .img ul li:nth-of-type(3),
.container_story .img ul li:nth-of-type(5){
  margin-left: 0;
}
.container_story .img ul li:nth-of-type(4){
  margin-left: 20px;
}
.container_story .img ul li:nth-of-type(5),
.container_story .img ul li:nth-of-type(6){
  margin-bottom: 0;
}

.container_story .img ul li:nth-of-type(4){
  margin-bottom: 20px;
}



/* footer */
footer{
  width: 100%;
  height: 528px;
  background-color: #f4f4f4;
  border-top: 1px solid #e1e1e1;
  position: relative;
}

footer .top{
  /* border: 1px solid #f00; */
  height: 145px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
footer .top > ul{
  display: flex;
  font-size: 14px;
  font-weight: bold;
  color: #505050;
  width: 70%;
  margin-right: 2%;
  justify-content: space-between;
  
}
footer .top ul li > ul{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
footer .top >ul >li strong{
  text-align: center;
  display: block;
}
footer .top ul li > ul li~li{

  margin-top: 15px;
}
footer .top ul li >ul li{
  white-space: nowrap;


}
footer .top ul li >ul li a{
  font-size: 14px;
  color: #505050;
  font-weight: normal;
  text-align: center;
 display: block;

}


footer .top div a{
  font-size: 40px;
  font-weight: bold;
  color: #505050;
  margin-bottom: 20px;
  white-space: nowrap;
}




footer .bottom .left{
 width: 60%
}
footer .bottom .left> ul{
  display: flex;
  justify-content: space-between;
}

footer .bottom .left> ul >li{
  font-size: 14px;
  font-weight: 500;
  color: #505050;
  margin-bottom: 20px;
  cursor: pointer;
}

footer .bottom .left> ul >li~li{
  margin-left: 0
}

footer .bottom .desc{
 margin-bottom: 20px;
}
footer .bottom .desc p{
  line-height: 1.7;
  font-size: 14px;
  color: #505050;
  display: inline;

}

footer .bottom .desc p~p{
 margin-left: 10px;
}
footer .bottom .desc p:nth-of-type(4){
  margin-left: 0;
}
footer .bottom .desc a{
  width: 98px;
  height: 21px;
  border-radius: 20px;
  background-color: #c4c4c4;
  font-size: 14px;
  padding: 4px;
  margin-left: 10px;
  
}
footer .bottom .desc a:hover{
  width: 98px;
  height: 21px;
  border-radius: 20px;
  background-color: #757575;
  font-size: 14px;
  padding: 4px;
  margin-left: 10px;
  color: #fff;
  
}
footer .bottom .left .copy{
  font-size: 14px;
  color: #505050;
}

footer .bottom .right ul{
  display: flex;
}

footer .bottom .right ul li{
  width: 44px;
  height: 25px;
  overflow: hidden;
  cursor: pointer;
}
footer .bottom .right ul li img{
  object-position: center -10px;
  transition: .3s;
}
footer .bottom .right ul li:hover img{
 transform: translateY(-25px) scale(110%);
}




}


/* 1023px 테블릿 가로*/
/* @media screen and (max-width:1023px){

} */


/* 768px 모바일 가로, 태블릿*/
@media screen and (max-width:767px){

 
/* 헤더 */

.inner{
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

header{
  height: 44px;
  top: 50px;
  /* border: 1px solid #f00; */
  
}
.nav_inner{
  width: 100%;

}

nav{
 display: flex;
 justify-content: center;
 flex-direction: column;
 margin-top: 0;

 
}
.nav_bg{
  display: block;
  width: 300px;
  height: 100vh;
  background: rgba(225, 225, 225, .8);
  position: absolute;
  z-index: 1;
  top: -50px;
  right: -300px;
  transition: .3s;
}
nav .logo{
  width: 70px;
  height: 36px;
  
  margin: 3px auto 0;
}

nav .main_nav{
  width: 100%;
  /* margin-left: 60px; */
  /* border: 1px solid #f00; */
z-index: 2;

 
}

nav .main_nav > ul{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
 right: -300px;
  /* border: 1px solid #f00; */
  margin-bottom: 0;
  /* border: 1px solid #f00;  */
}

nav .main_nav > ul > li{
  width: 100%;
  text-align: center;
   margin-top: 0px;
   /* border: 1px solid #f00; */
   display: block;
  margin-bottom: 40px;
   
}
nav .main_nav ul li:hover strong a,
nav .main_nav ul li > ul li:hover a{

 color: #ff8484;
}



nav .main_nav ul li strong{
  font-size: 18px;
font-weight: 500;
text-transform: uppercase;
line-height: 40px;

}
nav .main_nav >ul >li:nth-of-type(2) strong a,
nav .main_nav >ul >li:nth-of-type(3) strong a{
  color:#ff8484;
}

nav .main_nav > ul> li> ul{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  /* border: 1px solid #f00; */
  /* border: 1px solid #f00; */
  left: 0;
  top: 0;
  width: 100%;
  
}
nav .main_nav > ul> li> .sub{
  margin-top: 0;


}
nav .main_nav span{
 background: transparent;
 content: "";
 display: block;
 position: absolute;
 width: 100%;
 height: 230px;
 z-index: -1;
 top: 0;
 height: 100%;
 width: 100%;
 left: 0;
 box-shadow: none;

}

nav .main_nav > ul > li> ul > li {
  width: 100%;
  /* border: 1px solid #f00; */
  margin-bottom: 0;
}
nav .main_nav ul li> ul > li > a{
  text-align: center;
  display: block;
  padding: 16px 0;
 
}
nav .main_nav ul li> ul> li:first > a{
 padding-top: 0;
}
nav .main_nav2{
  margin-left: 0;
  position: absolute;
  right: -300px;
  z-index: 2;
  top: 5px;
}

nav .main_nav2 ul li{
margin-top: 0;
}
nav .main_nav2 ul li~li{
 margin-left: 0;
 
}

nav .main_nav2 ul li a{
  text-transform: uppercase;
  font-size: 16px;
   font-weight: 500;
   line-height: 40px;
  color: #2d2d2d;
}


.ham{
  width: 44px;
  height: 44px;
  /* border:1px solid #f00; */
  position: absolute;
  top: 0;
  right: 40px;
  cursor: pointer;
  
  }
  
  .ham span{
    height: 2px;
    width: 24px;
    background: #000;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 24px;
    z-index: 50;
    transition: .3s;
  }
  
  .ham span:nth-of-type(1){
    top: 30%;
  }
  
  
  .ham span:nth-of-type(3){
    top: 70%;
  }
  
  .ham.on span:nth-of-type(1){
    transform: rotate(45deg);
    top: 48%;
    left: 23%;
  }
  .ham.on span:nth-of-type(2){
    opacity: 0;
  }
  .ham.on span:nth-of-type(3){
    transform: rotate(-45deg);
    top: 48%;
    left: 23%;
  }


/* main */

 /* 메인 */
/* title nav */
.cate{
  height: 180px;
  margin-top: 144px;
}
.bg{
  height: 180px;

}
section:nth-of-type(1) .title{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

section:nth-of-type(1)  .title h2{
  font-size: 35px;

}

section:nth-of-type(1)  .title p{
  display: none;
}

section:nth-of-type(1)  .title ul{

  width: 100%;
}

section:nth-of-type(1)  .title ul li a{
  font-size: 20px;
  
}


/* cotainer 1  오아업데이트*/


section:nth-of-type(2){
  height: 394px;
  
}

.container1{
  margin-top: 150px;

}

.container1 .con_title{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.container1 .text_list ul{
  width: 135%;
  height: 314px;
}
.container1 .text_list ul li{
  width: 32%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: .3s;
  cursor: pointer;
}

/* container2 오아 매거진 */

 
 section:nth-of-type(2){
  margin-top: 150px;
  width: 100%;
  position: relative;
  /* border: 1px solid #f00; */
  height: 330px;
}


.container2{
     display: flex;
     width: 100%;
     height: 330px;
    margin-top: 0;
     /* border: 1px solid #f00; */
     flex-direction: column;
     position: relative;
}
.container2 .text_list{
  width: 100%;
  height: 134px;

  margin-right: 70px;
  /* overflow: hidden; */
  margin-top: 76px;
}


.container2 .text_list ul{
  display: flex;
  width: 500%;
  
}
.container2 .text_list ul li{
  width: 100%;

}
.container2 .text_list ul li a{
  display: flex;
  flex-direction: column;
}
.container2 .text_list ul li a strong{
  font-size: 20px;
  font-weight: 600;
  width: 190px;
  margin-bottom: 24px;
  /* border: 1px solid #f00; */
  line-height: 1.5;
  color: #000;
}

.container2 .text_list ul li a span{
  font-size: 16px;
  font-weight: normal;
}
.container2 .best_list{
  display: flex;
 
}
.container2 .img_mag{
  display: flex;
  /* border: 1px solid #f00; */
  width: 1151px;
  height: 435px;
  overflow: hidden;
  margin-top: 40px;
}
.container2 .img_mag .best_img{
  display: flex;
  width: 500%;
  
}
.container2 .img_mag > ul > li{
  width: 341px;
    height: 263px;
  border-radius: 10px;
  /* overflow: hidden; */
  
}

.container2 .img_mag > ul li img{
  width: 100%;
 height: 100%;
 object-fit: cover;
 object-position: top;
 border-radius: 10px;

}

.container2 .icon{
  width: 304px;
}



.container2 .icon .bar{
  display: none;
}

/* container3 오아 스토리 */

 
section:nth-of-type(3){
  margin-top: 150px;
  height: 330px;
  width: 100%;
  position: relative;
  /* border: 1px solid #f00; */
}


.container3{
     display: flex;
     width: 100%;
     height: 330px;
   margin-top: 0;
     /* border: 1px solid #f00; */
     flex-direction: column;
     position: relative;
}
.container3 .text_list{
  width: 100%;
  height: 134px;

  margin-right: 70px;
  /* overflow: hidden; */
  margin-top: 76px;
}


.container3 .text_list ul{
  display: flex;
  width: 500%;
  
}
.container3 .text_list ul li{
  width: 100%;

}
.container3 .text_list ul li a{
  display: flex;
  flex-direction: column;
}
.container3 .text_list ul li a strong{
  font-size: 20px;
  font-weight: 600;
  width: 190px;
  margin-bottom: 24px;
  /* border: 1px solid #f00; */
  line-height: 1.5;
  color: #000;
}

.container3 .text_list ul li a span{
  font-size: 16px;
  font-weight: normal;
}
.container3 .best_list{
  display: flex;
 
}
.container3 .img_mag{
  display: flex;
  /* border: 1px solid #f00; */
  width: 1151px;
  height: 435px;
  overflow: hidden;
  margin-top: 40px;
}
.container3 .img_mag .best_img{
  display: flex;
  width: 500%;
  
}
.container3 .img_mag > ul > li{
  width: 341px;
    height: 263px;
  border-radius: 10px;
  /* overflow: hidden; */
  
}

.container3 .img_mag > ul li img{
  width: 100%;
 height: 100%;
 object-fit: cover;
 object-position: top;
 border-radius: 10px;

}

.container3 .icon{
  width: 304px;
}



.container3 .icon .bar{
  display: none;
}


/* cotainer 4 라이프스타일*/
section:nth-of-type(4){
  height: 690px;
  /* border: 1px solid #f00; */
  width: 100%;
  position: relative;
  margin-top: 150px;
}


.container4{
     display: flex;
     width: 100%;
    height: 100%;
  margin-top: 0;
   
}

.container4 > ul{
  width: 100%;
}
.container4 > ul li{
  width: 48%;
  height: 300px;

}



.container4 > ul li:first-of-type,
.container4 > ul li:nth-of-type(3){
  margin-right: 2.9%;
}

.container4 > ul li:first-of-type,
.container4 > ul li:nth-of-type(2){
  margin-bottom: 2.9%;
}



.container4 > ul li p{
 
  font-size: 18px;

}


/* cotainer5 스폰서*/
/* 수정필요 */
section:nth-of-type(5){

  margin-top: 150px;
}


.container5{
    height: 280px;
    margin-top: 0px;
     
}
.over{
  overflow: visible;
  /* overflow: hidden; */
  margin: 0 auto;
  /* border: 1px solid #f00; */
  width: 100%;
}
.container5 ul{
  overflow: visible;
}

.container5 ul li{
  width: 148px;
  height: 215px;
}
.container5 ul li~li{
  margin-left: 20px;
}

.container5 ul li img{
  width: 148px;
  height: 215px;
  
}
/* 매가진 */

.magazine{
  width: 100%;
  height: 100%;

}
.magazine img{
 width: 100%;
  height: 100%;
  
}


/* 스토리 파트 */

.container_story{
  margin-top: 150px;
  
  margin-bottom: 150px;
}




.container_story .title h2{
  font-size: 25px;
  font-weight: 700;
  color: #000;
  margin-bottom: 32px;
  
}


.container_story .img ul li{
  width: 48%;
  height: 377px;
  display: inline-block;
  margin-left: 2.9%;
  margin-bottom: 2.9%;
}

.container_story .img ul li::after{
  background-image: linear-gradient(to top, #f0f0f0, rgba(255, 255, 255, 0));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  border-radius: 15px;

}


.container_story .img ul li:nth-of-type(1),
.container_story .img ul li:nth-of-type(3),
.container_story .img ul li:nth-of-type(5){
  margin-left: 0;
}

.container_story .img ul li:nth-of-type(4),
.container_story .img ul li:nth-of-type(5),
.container_story .img ul li:nth-of-type(6){
  margin-bottom: 0;
}

.container_story .img ul li:nth-of-type(4){
  margin-left: 2.9%;
  margin-bottom: 2.9%;
}


.container_story .img ul li p{
  font-size: 18px;
  white-space: nowrap;
}

/* footer */
footer{
  height: 720px;
}

footer .top{
  /* border: 1px solid #f00; */
  height: 145px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-direction: column;
}
footer .top > ul{
  display: flex;
  font-size: 16px;
  font-weight: bold;
  color: #505050;
  width: 100%;
  justify-content: space-between;
  order: 2;
}
footer .top ul li > ul{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #f00; */
}
footer .top >ul >li strong{
  text-align: left;
  display: block;
  /* border: 1px solid #f00; */
}


footer .top div{
  display: flex;
  flex-direction: column;
  order: 1;
  margin-bottom: 40px;
}


footer .bottom{
  padding-top: 0;
  margin-top: 270px;
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
}
footer::before{
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: #e1e1e1;
  position: absolute;
  bottom: 295px;
  left: 0;
  
}

footer .bottom .left{
 width: 100%;
text-align: left;

}


}


/* 480px 모바일 가로, 태블릿*/
@media screen and (max-width:479px){
  
.inner{
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}


.nav_bg{
  display: block;
  width: 100%;
  height: 100vh;
  background: rgba(225, 225, 225, .8);
  position: absolute;
  z-index: 1;
  top: -50px;
  right: 0;
  opacity: 0;
}
nav .logo{
  width: 40px;
  height: 21px;
  margin: 3px auto 0;
}

nav .main_nav{
  width: 100%;
  /* margin-left: 60px; */
  /* border: 1px solid #f00; */
  z-index: 2;

 
}

nav .main_nav > ul{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 250%;
    right: 50%;
    width: 50%;
  /* border: 1px solid #f00; */
    margin-bottom: 0;
transform: translateX(50%);  /* border: 1px solid #f00;  */
opacity: 0;
}

nav .main_nav > ul > li{
  width: 100%;
  text-align: center;
   margin-top: 0px;
   /* border: 1px solid #f00; */
   display: block;
  margin-bottom: 24px;
   
}



nav .main_nav ul li strong{
  font-size: 16px;

line-height: 24px;

}

nav .main_nav > ul> li> ul{
 
  /* border: 1px solid #f00; */
  /* border: 1px solid #f00; */
  left: 0;
  top: 0;
  width: 100%;
  
}

nav .main_nav span{
 background: transparent;
 content: "";
 display: block;
 position: absolute;
 width: 100%;
 height: 230px;
 z-index: -1;
 top: 0;
 height: 100%;
 width: 100%;
 left: 0;
 box-shadow: none;

}

nav .main_nav > ul > li> ul > li {
  width: 100%;
  /* border: 1px solid #f00; */
  margin-bottom: 0;
}
nav .main_nav ul li> ul > li > a{
  text-align: center;
  display: block;
  padding: 16px 0;
 
}

nav .main_nav2{
  position: absolute;
  z-index: 2;
  opacity: 0;
  right: 52%;
  transform: translateX(50%);
}


nav .main_nav2 ul li a{
  font-size: 14px;

   line-height: 24px;

}

/* main */

 /* container1 mainbanner */


 /* 메인 */
/* title nav */
.cate{
  height: 65px;
  margin-top: 96px;
}
.bg{
  display: none;

}
section:nth-of-type(1) .title{
  display: flex;
 align-items: flex-start;
  width: 90%;
}

section:nth-of-type(1)  .title h2{
  font-size: 20px;
  margin-bottom: 24px;

}

section:nth-of-type(1)  .title p{
  display: none;
}

section:nth-of-type(1)  .title ul{

  width: 100%;
}

section:nth-of-type(1)  .title ul li a{
  font-size: 16px;
  
}


/* cotainer 1  오아업데이트*/


section:nth-of-type(2){
  height: 175px;
  
}

.container1{
  margin-top: 50px;

}

.container1 .con_title{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.container1 .con_title h2{
  font-size: 16px;
}

.container1 .text_list ul{
  width: 135%;
  height: 130px;
}
.container1 .text_list ul li{
  width: 32%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: .3s;
  cursor: pointer;
}

.container1 .text_list ul li span{
  font-size: 14px;
  width: 90%;

/* 수정필요 */
 
}
/* container2 오아 매거진 */

 
section:nth-of-type(2){
  height: 480px;
  width: 100%;
  position: relative;
  /* border: 1px solid transparent;  */
   /* border: 1px solid #f00; */
   margin-top: 0;
}


.container2{
     display: flex;
     width: 100%;
     height: 402px;
     margin-top: 50px;
     /* border: 1px solid #f00; */
     flex-direction: column;
     position: relative;
}
.container2 .title{
  flex-direction: column;
}
.container2 .title h2{
  font-size: 18px;
}
.container2 .more{
  position: absolute;
  bottom: -26px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  border: solid 1px #000;
  
}
.container2 .more span{
  position: absolute;
  text-align: center;
top: 50%;
left: 48%;
transform: translate(-50%,-50%);

}
.container2 .more span::before{
  top: 50%;
  transform: translateY(-50%);
}
.container2 .more:hover{
  border: solid 1px #ff8484;
}


.container2 .text_list{
  width: 100%;
  height: auto;
position: absolute;
  margin-right: 0;
  /* overflow: hidden; */
  margin-top: 0;
  bottom: 56px;
  z-index: 10;
  /* border: 1px solid #f00; */
  white-space: nowrap;
  padding: 16px 0;
}
.container2 .text_list h2{
 font-size: 18px;
}

.container2 .text_list ul{
  display: flex;
  width: 500%;
  
}
.container2 .text_list ul li{
  width: 100%;

}
.container2 .text_list ul li a{
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
.container2 .text_list ul li a strong{
  font-size: 14px;
  font-weight: 600;
  width: 190px;
  margin-bottom: 0px;
  /* border: 1px solid #f00; */
  line-height: 1.5;
  color: #000;
  margin-left: 16px;
  
}

.container2 .text_list ul li a span{
  font-size: 16px;
  font-weight: normal;
  display: none;
}
.container2 .best_list{
  display: flex;
 
}
.container2 .img_mag{
  display: flex;
  /* border: 1px solid #f00; */
  width: 100%;
  height: 240px;
  overflow: visible;
  /* overflow: hidden; */
  margin-top: 24px;
  position: relative;
}

.container2 .img_mag > ul > li::after{
  display: block;
  position: absolute;
  top: 0;
  width: 341px;
  height: 300px;
  border-radius: 20px;
  background-color: #eee;
  content: '';
  z-index: -1;
}


.container2 .img_mag .best_img{
  display: flex;
  width: 500%;
  
}
.container2 .img_mag > ul > li{
  width: 341px;
  height: 256px;
  border-radius: 10px;
  overflow: hidden;
  border-radius: 10px 10px  0 0;
  /* border: 1px solid #f00; */
  
}

.container2 .img_mag > ul li img{
  width: 100%;
 height: 100%;
 object-fit: cover;
 object-position: top;
 border-radius: 10px 10px  0 0;
transition: .3s;
}

.container2 .img_mag > ul li:hover img{
transform: scale(110%);
}
.container2 .icon{
  display: none;
}

.container2 .icon .bar{
  display: none;
}

/* container2 오아 스토리 */

 
section:nth-of-type(3){
  height: 480px;
  width: 100%;
  position: relative;

  margin-top: 0;
  /* border: 1px solid #f00; */
}


.container3{
     display: flex;
     width: 100%;
     height: 402px;
     margin-top: 50px;
    
     flex-direction: column;
     position: relative;
}
.container3 .title{
  flex-direction: column;
}
.container3 .title h2{
  font-size: 18px;
}
.container3 .more{
  position: absolute;
  bottom: -26px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  border: solid 1px #000;
  
}
.container3 .more span{
  position: absolute;
  text-align: center;
top: 50%;
left: 48%;
transform: translate(-50%,-50%);

}
.container3 .more span::before{
  top: 50%;
  transform: translateY(-50%);
}
.container3 .more:hover{
  border: solid 1px #ff8484;
}


.container3 .text_list{
  width: 100%;
  height: auto;
position: absolute;
  margin-right: 0;
  /* overflow: hidden; */
  margin-top: 0;
  bottom: 56px;
  z-index: 10;
  /* border: 1px solid #f00; */
  white-space: nowrap;
  padding: 16px 0;
}
.container3 .text_list h2{
 font-size: 18px;
}

.container3 .text_list ul{
  display: flex;
  width: 500%;
  
}
.container3 .text_list ul li{
  width: 100%;

}
.container3 .text_list ul li a{
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
.container3 .text_list ul li a strong{
  font-size: 14px;
  font-weight: 600;
  width: 190px;
  margin-bottom: 0px;
  /* border: 1px solid #f00; */
  line-height: 1.5;
  color: #000;
  margin-left: 16px;
  
}

.container3 .text_list ul li a span{
  font-size: 16px;
  font-weight: normal;
  display: none;
}
.container3 .best_list{
  display: flex;
 
}
.container3 .img_mag{
  display: flex;
  /* border: 1px solid #f00; */
  width: 100%;
  height: 240px;
  overflow: visible;
  /* overflow: hidden; */
  margin-top: 24px;
  position: relative;
}

.container3 .img_mag > ul > li::after{
  display: block;
  position: absolute;
  top: 0;
  width: 341px;
  height: 300px;
  border-radius: 20px;
  background-color: #eee;
  content: '';
  z-index: -1;
}


.container3 .img_mag .best_img{
  display: flex;
  width: 500%;
  
}
.container3 .img_mag > ul > li{
  width: 341px;
  height: 256px;
  border-radius: 10px;
  overflow: hidden;
  border-radius: 10px 10px  0 0;
  /* border: 1px solid #f00; */
  
}

.container3 .img_mag > ul li img{
  width: 100%;
 height: 100%;
 object-fit: cover;
 object-position: top;
 border-radius: 10px 10px  0 0;
transition: .3s;
}

.container3 .img_mag > ul li:hover img{
transform: scale(110%);
}
.container3 .icon{
  display: none;
}

.container3 .icon .bar{
  display: none;
}


/* cotainer 4 라이프스타일*/
section:nth-of-type(4){
  height: 480px;
  /* border: 1px solid #f00; */
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.container4 > ul li{
  width: 47.8%;
  height: 200px;

}

.container4 .title h2{
  font-size: 20px;
  margin-bottom: 32px;
}


.container4 > ul li p{
 
  font-size: 14px;

}


/* cotainer5 스폰서*/
/* 수정필요 */
section:nth-of-type(5){

  margin-top: 50px;
}


.container5{
    height: 267px;
    margin-top: 0px;
    /* border: 1px solid #f00; */
}
.over{
  overflow: visible;
  /* overflow: hidden; */
  margin: 0 auto;
  /* border: 1px solid #f00; */
  width: 100%;
}
.container5 ul{
  overflow: visible;
}

.container5 ul li{
  width: 148px;
  height: 215px;
}
.container5 ul li~li{
  margin-left: 20px;
}

.container5 ul li img{
  width: 148px;
  height: 215px;
  
}
.container5 .title h2{
  font-size: 20px;
  margin-bottom: 32px;
}

/* 매가진 */

.inner.on{
  width: 100%;
}
.magazine{
  width: 100%;
  height: 100%;

}
.magazine img{
 width: 100%;
  height: 100%;
  
}


/* 스토리 파트 */

.container_story{
  margin-top: 80px;
  
  margin-bottom: 80px;
}




.container_story .title h2{
  font-size: 20px;

  
}


.container_story .img ul li{
  width: 48%;
  height: 200px;
  display: inline-block;
  margin-left: 2.9%;
  margin-bottom: 2.9%;
}

.container_story .img ul li::after{
  background-image: linear-gradient(to top, #f0f0f0, rgba(255, 255, 255, 0));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  border-radius: 15px;

}


.container_story .img ul li:nth-of-type(1),
.container_story .img ul li:nth-of-type(3),
.container_story .img ul li:nth-of-type(5){
  margin-left: 0;
}

.container_story .img ul li:nth-of-type(4),
.container_story .img ul li:nth-of-type(5),
.container_story .img ul li:nth-of-type(6){
  margin-bottom: 0;
}

.container_story .img ul li:nth-of-type(4){
  margin-left: 2.9%;
  margin-bottom: 2.9%;
}


.container_story .img ul li p{
  font-size: 14px;
  white-space: nowrap;
  
}

footer .top > ul{
  display: none;
}




footer .bottom{
  padding-top: 0;
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
}
footer::before{
  display: none;
  
}

footer .bottom .left{
 width: 100%;


}


/* footer */
footer{
  width: 100%;
  height: 480px;
  background-color: #f4f4f4;
  border-top: 1px solid #e1e1e1;
  position: relative;
}

footer .top{
  /* border: 1px solid #f00; */
  height: 145px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

footer .top div{
  display: flex;
  flex-direction: column;
}
footer .top div strong{
  font-size: 16px;
  font-weight: bold;
  color: #505050;
  margin-bottom: 20px;
  
}

footer .top div a{
  font-size: 30px;
  font-weight: bold;
  color: #505050;
  margin-bottom: 20px;
}
footer .top div a:hover{
  color:  #ff8484;
}
footer .top div p{
  font-size: 14px;
  color: #505050;
  line-height: 1.95;
}
footer .bottom{
  height: 210px;
  padding-top: 0;
  /* border: 1px solid #f00; */
  display: flex;
  justify-content:space-between;
}

footer .bottom .left> ul{
  display: flex;
  justify-content: space-between;
}

footer .bottom .left> ul >li{
  font-size: 14px;
  
}

footer .bottom .left> ul >li~li{
  margin-left: 0;
}


footer .bottom .desc p~p{
 margin-left: 1%;
}



footer .bottom .right ul{
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}




}