@charset "utf-8";

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



body {
    font:16px Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif ;
    line-height:1;
    color:#262626;
}
input, textarea, button {
    font:14px 'NanumSquare', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
    font-size:inherit;
    font-weight:normal;
}
ul, ol, li {
    list-style:none;
}
img, fieldset, input {
    border:none;
    vertical-align:top;
}
a {
    text-decoration:none;
    color:#393939;
}
input::placeholder, textarea::placeholder {
    color:#939393;
    font-weight:300;
}
/* input::-webkit-input-placeholder {} */

.clear:after {
    content:'';
    display:block;
    clear:both;
}
.hide {
    height:0;
    font-size:1px;
    overflow:hidden;
}
.fixed {
    width:1200px;
    margin:0 auto;
}

legend{
    display: none;
}